<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
    <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static './css/styles.css' %}" rel="stylesheet">

</head>
<body>

</body>
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
     <a href="  " class="logo">F<span style="color:#A94438;">oo</span>die<span class="yellow">.</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"><h1>Home</h1>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h1>Features</h1></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h1>Pricing</h1></a>
        </li><li>    </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h1>About</h1></a>
        </li>
      </ul>

    </div>
  </div>
</nav>